@use "/src/assets/styles/colors.scss";

.form-qa {
  max-width: 160rem;
}

.form-qa__heading {
  font-weight: 700;
  font-size: 5rem;
  margin-bottom: 4rem;
  line-height: 1em;
}

.form-qa__question-input {
  margin-bottom: 4rem;
}

.form-qa__answer-input {
  margin-bottom: 6rem;
}

.form-qa__delay-checkbox {
  margin-bottom: 4rem;
}

.form-qa__button-wrapper {
  display: flex;
  gap: 6rem;
}
