@use "/src/assets/styles/colors.scss";
@use "/src/assets/styles/shared.scss";

.modal {
  position: fixed;
  z-index: 30;
  top: 16rem;
  bottom: 16rem;
  left: 0;
  width: 100%;
}

.modal__wrapper {
  @extend .wrapper;
  min-height: 100%;
  padding: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 6rem;
    bottom: 0;
    right: 6rem;
  }
}

.modal__wrapper__inner-wrapper {
  width: 100%;
  max-width: 160rem;
  background-color: colors.$charcoal700;
  border: 0.25rem solid colors.$charcoal500;
  padding: 6rem;
  box-sizing: border-box;
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
