@use "/src/assets/styles/colors.scss";

.list-qa {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 6s forwards;
  display: flex;
  gap: 6rem;
  overflow: visible;
}

.list-qa__sidebar {
  position: sticky;
  top: 16rem;
  width: 80rem;
  box-sizing: border-box;
  padding-right: 6rem;
  color: colors.$charcoal200;
  line-height: 1.5em;
  flex-shrink: 0;
  flex-grow: 0;
  height: calc(100vh - 32rem);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.25rem;
    background: linear-gradient(to bottom, transparent, rgba(colors.$charcoal500, 1), transparent);
  }
}

.list-qa__sidebar__info {
  font-size: 3.5rem;
  margin-bottom: 6rem;
}

.list-qa__sidebar__tools {
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
}

.list-qa__list {
  flex-grow: 1;
}

.list-qa__list__tooltip {
  margin-bottom: 4rem;
}

.list-qa__list__heading {
  font-weight: 700;
  font-size: 6rem;
}

.list-qa__list__empty {
  color: colors.$orange300;
  font-weight: 500;
}

.list-qa__list__paginator__item {
  margin-bottom: 4rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
