@use "/src/assets/styles/colors.scss";

.list-qa {
  padding-left: 80rem;
}

.list-qa__sidebar {
  position: absolute;
  top: 0;
  left: 6rem;
  bottom: 0;
  width: 80rem;
  box-sizing: border-box;
  padding-right: 12rem;
  color: colors.$charcoal200;
  font-size: 3.5rem;
  line-height: 1.5em;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6rem;
    width: 0.25rem;
    background: linear-gradient(to bottom, transparent, rgba(colors.$charcoal500, 1), transparent);
  }
}

.list-qa__list__tooltip {
  margin-bottom: 4rem;
}

.list-qa__list__heading {
  font-weight: 700;
  font-size: 6rem;
}
